{% include header.html %}

    <!-- Open the output in a new blank tab (Click the arrow next to "Show Output" button) and resize the browser window to understand how the Bootstrap responsive grid system works. -->
    <div class="container">
        <!--Row with single column-->
        <div class="row">
            <div class="col-xs-12">
                <div class="demo-content">.col-xs-12</div>
            </div>
        </div>
        <hr>
        <!--Row with single column-->
        <div class="row">
            <div class="col-xs-12">
                <div class="demo-content bg-alt">.col-xs-12</div>
            </div>
        </div>
    </div>

{% include footer.html %}
